.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(58, 96, 108) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-6 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5em;
  color: rgb(58, 96, 108) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -43px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 43px;
  height: 43px;
  margin: -72px auto 0 309px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -34px auto 0 365px;
}

.u-section-1 .u-shape-2 {
  width: 43px;
  height: 43px;
  margin: 32px auto 0 309px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -34px auto 60px 365px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 109px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 109px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 598px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/drone_image1.jpg");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/drone_image_31.jpg");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/42ea055bb2565d383e584007b94434088be9e08aa3894c098d18971d3a036b43280ab9f9bda5fef78f7f1ba9fbf8b469f43cd2c8b605250bf723a0_12801.jpg");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/drone_image_31.jpg");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-image-1 {
    min-height: 505px;
    pointer-events: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 505px;
    pointer-events: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 505px;
  }

  .u-section-2 .u-image-4 {
    min-height: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-2 .u-image-1 {
    min-height: 774px;
  }

  .u-section-2 .u-image-2 {
    min-height: 774px;
  }

  .u-section-2 .u-image-3 {
    min-height: 774px;
  }

  .u-section-2 .u-image-4 {
    min-height: 774px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1161px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1161px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 1161px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 1161px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2172px;
  }

  .u-section-2 .u-image-1 {
    min-height: 731px;
  }

  .u-section-2 .u-image-2 {
    min-height: 731px;
  }

  .u-section-2 .u-image-3 {
    min-height: 731px;
  }

  .u-section-2 .u-image-4 {
    min-height: 731px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 375px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 30px 90px 0 114px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 65px 10px 0 175px;
}

.u-section-3 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: -29px auto 0 19px;
}

.u-section-3 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: 48px 34px 0 auto;
}

.u-section-3 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: -22px auto 0 18px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 64px 0 0 165px;
}

.u-section-3 .u-icon-5 {
  width: 50px;
  height: 50px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -37px auto 0 11px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 30px 90px 0 114px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 65px 10px 0 175px;
}

.u-section-3 .u-icon-7 {
  width: 33px;
  height: 33px;
  color: rgb(16, 115, 31) !important;
  margin: -29px auto 0 19px;
}

.u-section-3 .u-icon-8 {
  width: 30px;
  height: 30px;
  margin: 48px 34px 0 auto;
}

.u-section-3 .u-icon-9 {
  width: 31px;
  height: 31px;
  margin: -22px auto 0 18px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 64px 0 0 165px;
}

.u-section-3 .u-icon-10 {
  width: 50px;
  height: 50px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -37px auto 0 11px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 12px;
}

.u-section-3 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 30px 90px 0 114px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 65px 10px 0 175px;
}

.u-section-3 .u-icon-12 {
  width: 33px;
  height: 33px;
  color: rgb(16, 115, 31) !important;
  margin: -29px auto 0 19px;
}

.u-section-3 .u-icon-13 {
  width: 30px;
  height: 30px;
  margin: 48px 34px 0 auto;
}

.u-section-3 .u-icon-14 {
  width: 31px;
  height: 31px;
  margin: -22px auto 0 18px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 64px 0 0 165px;
}

.u-section-3 .u-icon-15 {
  width: 50px;
  height: 50px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -37px auto 0 11px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 12px;
}

.u-section-3 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 30px 90px 0 114px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 65px 10px 0 175px;
}

.u-section-3 .u-icon-17 {
  width: 33px;
  height: 33px;
  color: rgb(16, 115, 31) !important;
  margin: -29px auto 0 19px;
}

.u-section-3 .u-icon-18 {
  width: 30px;
  height: 30px;
  margin: 48px 34px 0 auto;
}

.u-section-3 .u-icon-19 {
  width: 31px;
  height: 31px;
  margin: -22px auto 0 18px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 64px 0 0 165px;
}

.u-section-3 .u-icon-20 {
  width: 50px;
  height: 50px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -37px auto 0 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 300px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -281px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -23px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -38px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-8 {
    margin-top: -281px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-13 {
    margin-top: -281px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-18 {
    margin-top: -281px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 947px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}