.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/1fdb82f3527a041527dc2c7deb806871d5587e2a95ad8fdb9863432b0796025f3d68bfb5763d4545e1b8c9a3442c20f68a84e75833c9e49472b1d9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1147px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 156px auto 0 506px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  font-size: 2.25rem;
  margin: -64px 165px 0 616px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 34px 211px 0 570px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -48px 304px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 160px 211px 0 570px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -49px 165px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  background-image: none;
  margin: 161px 211px 0 570px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: -48px 184px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    width: 690px;
    margin-top: 483px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 111px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 111px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 111px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1594px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1148px;
    margin-right: 1px;
    margin-left: 360px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -132px;
    margin-right: 1px;
    margin-left: 360px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 244px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 1px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 476px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: 540px;
    margin-top: 1445px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1364px;
    margin-right: 0;
    margin-left: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 181px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-top: 1116px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1233px;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -360px;
    margin-right: 276px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 307px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -188px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 167px;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 56px auto 56px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/ganttchart.png");
  min-height: 388px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-2 .u-text-1 {
  margin: 112px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 13px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 56px 0 56px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1rem;
}

.u-section-3 .u-image-1 {
  background-image: url("images/meeting-minutes-template-roberts-rules.png");
  min-height: 388px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 638px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 46px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 388px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}